/* ========================= */
/* Character Container */
/* ========================= */

.character-container{

    max-width:1200px;

    margin:0 auto;

    padding-top:220px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    justify-items:center;

    gap:40px;

}

/* ========================= */
/* Character Card */
/* ========================= */

.character-card{

    width:220px;

    height:570px;

    background:rgba(7,2,2,.78);

    border:2px solid var(--gold);

    border-radius:20px;

    overflow:hidden;

    backdrop-filter:blur(8px);

    box-shadow:0 0 20px rgba(0,0,0,.55);

    transition:.35s ease;

}

.character-card:hover{

    transform:translateY(-12px);

    box-shadow:0 0 35px rgba(246,193,93,.75);

}
/* ========================= */
/* Character Image */
/* ========================= */

.character-card img{

    width:100%;

    height:300px;

    object-fit:cover;

    object-position:center top;

    display:block;

    transition:.35s ease;

}

.character-card:hover img{

    transform:scale(1.05);

}
.character-name{

    color:var(--gold);

    text-align:center;

    font-size:2rem;

    margin:20px 0 15px;

}
.character-description{
    text-align:center;
    padding:0 20px;
    line-height:1.7;
    margin-top:15px;
    margin-bottom:25px;
    color:var(--base-text);
}

/* ========================= */
/* Characters Header */
/* ========================= */
.characters-header{

    display:flex;

    justify-content:center;

    margin-top:40px;

    margin-bottom:120px;

}


.characters-title{

    display:inline-block;

    font-size:4.5rem;

    font-weight:bold;

    color:var(--gold);

    padding: 15px;

    border:2px solid transparent;

    border-radius:15px;

    cursor:pointer;

    transition:all .35s ease;

}

.characters-title:hover{

    border-color:var(--gold);

    background:rgba(0,0,0,.35);

    box-shadow:0 0 25px var(--gold);

    transform:translateY(-5px);

}

/*-========================= */
/* Character Card Button */
/* ========================= */
.character-button{

    width:180px;

    margin:25px auto;

    padding:14px 0;

    display:block;

    border:none;

    border-radius:40px;

    background:linear-gradient(
        135deg,
        #d99a2b,
        #f6c15d
    );

    color:#111;

    font-size:1rem;

    font-weight:bold;

    cursor:pointer;

    transition:.3s ease;

    box-shadow:0 0 18px rgba(246,193,93,.45);

}

.character-button:hover{

    transform:translateY(-3px);

    box-shadow:0 0 30px rgba(246,193,93,.85);

}



