.hero {
  display: flex;
  justify-content: center;
  background-image: url("images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--base-text);
  margin-top: 50vh;
  width: 100%;
  min-height: 70vh;
}

.hero-text {
  color: inherit;
  text-align: center;
  max-width: 950px;
  width: 90%;
  text-shadow: 0 0 1rem black;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: min(4vw, 3rem);
  color: var(--gold);
}

.hero-text p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.hero-text p strong {
  font-size: 2.5rem;
}
